@{
    ViewData["Title"] = "ABOUT US";
}

<!-- Work Row -->
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-3">
            <p>In the pursuit of its mission objectives in rocket propellants and the perfect mixtures, LiquidFlow continues pushing the boundaries of its own foundations. Often, new technologies are needed to either enhance current capabilities or enable future ones. </p>
        </div>

        <div class="col-md-3">
            <div>
                <img src="https://i2.wp.com/techweek.com/wp-content/uploads/2018/09/flight-sky-earth-space.jpg?fit=1080%2C720&ssl=1" alt="Nasa Rocket" style="width:100%">
                <div>
                    <h3>NASA</h3>
                    <h4>American Aerospace</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <img src="https://qrius.com/wp-content/uploads/2018/04/40126461411_a6e49a61f2_k.jpg" alt="Lights" style="width:100%">
                <div>
                    <h3>SpaceX</h3>
                    <h4>NASA Subsidery</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div>
                <img src="http://images.unsplash.com/photo-1517976487492-5750f3195933?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=352973cec8f19dc115fa2981d91a9c9f" alt="Mountains" style="width:100%">
                <div>
                    <h3>GBSP</h3>
                    <h4>British Aerospace</h4>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Team Container -->
<div class="container">
    <h2>OUR STAFF</h2>
    <div class="row">
        <br>

        <div class="col-md-3">
            <img src="http://img.timeinc.net/time/daily/2012/1211/poy_benbernanke.jpg" alt="Boss" style="width:45%" height="75" class="img-circle">
            <h3>Brian Davis</h3>
            <p>CEO of LiquidFlow</p>
        </div>

        <div class="col-md-3">
            <img src="https://www.alvinailey.org/sites/default/files/styles/slideshow_image/public/melanie-person.jpg?itok=ocw3xkx_" alt="Boss" style="width:45%" height="75" class="img-circle">
            <h3>Susan Bell</h3>
            <p>Business Relations Manager</p>
        </div>

        <div class="col-md-3">
            <img src="https://images.pexels.com/photos/842567/pexels-photo-842567.jpeg?auto=compress&cs=tinysrgb&h=350  " alt="Boss" style="width:45%" height="75" class="img-circle">
            <h3>Carl Johnson</h3>
            <p>Data Analyst</p>
        </div>

        <div class="col-md-3">
            <img src="https://cdn.newsapi.com.au/image/v1/0451e2b0e4f5475e25f5ee384b821cd1?width=1024" alt="Boss" style="width:45%" height="75" class="img-circle">
            <h3>Rico DeSanta</h3>
            <p>Safety Advisor</p>
        </div>

    </div>
</div>